---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
	background-color: #9cbbbf;
	background-image: url(../img/seigaiha.png);
}
// Background pattern from subtlepatterns.com


// START -> LAYOUT

.height-container {
	position: absolute;
	min-height: 35em;
	height: 100%;
	width: 100%;
}

.website-container {
	background-color: white;
	outline: 0.2em solid #076e7b;
  position: absolute;
  height: 70%;
  min-width: 56em;
  width: 70%;
  top: 14%;
  left: 15%;
}

.width_limit-container {
	background-color: white;
  position: absolute;
  overflow: hidden;
	z-index: 2;
  right: 0%;
  height: 100%;
  width: 75%;
}

.content-container{
  background-color: white;
  position: relative;
	overflow: hidden;
	max-width: 60em;
	min-width: 20em;
	padding-left: 1.2em;
	right: 0%;
	top: 10%;
  height:80%;
}

.insidebar-vertical{
	background-color:	#026798;
	position: absolute;
	height: 100%;
	left: 98.8%;
	width: 2em;
}

.insidebar-horizontal{
	position: absolute;
	background-color: #026798;
	margin-left: 1em;
	width: 100%;
	height: 0.9em;
	top: 8%;
}



.content{
	padding-left: 0em;
	padding-right: 2em;
	width: 102%;
	min-height: 20em;
  height: 55.9vh;
  overflow: auto;
  background-color: #e8e8e8;
	border-bottom: solid thin #076e7b;
	border-left: solid thin #076e7b;
}

//LAYOUT -> START NAVBAR
.navbar{
	position: absolute;
	z-index: 1;
	width:  calc(9em + 6vw);
	height: 100%;
}

.nav-list-blank{
	z-index: -1;
	background-color: #078d9e;
	position: absolute;
	height: 10%;
	width: 102.5%;
}

.arrow-up {
	position: absolute;
	bottom: 100%;
	right: 0%;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #046a77;
}

.nav-list{
	background-color: #00b5cc;
	position: absolute;
	align-items: center;
	display: flex;
	color: #e8e8e8;
	width: 100%;
	height: 10%;
}

.nav-list-info{
	background-color: #00b5cc;
	position: absolute;
	align-items: center;
	display: flex;
	width: 100%;
	height: 10%;
}

.nav-list-info img{
	position: absolute;
	top: 42%;
	width: 1.8em;
	left: 62%;
}

// https://www.iconfinder.com/icons/115714/email_mail_send_icon#size=256

.nav-list p{
	font-size: 145%;
	font-weight: normal;
	position: static;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Crete Round', serif;
	text-decoration: none;
}

#info-s{
	font-size: 140%;
	position: static;
	color: #e8e8e8;
	margin-left: 3.3em;
	margin-right: 7em;
	font-family: 'Crete Round', serif;
	text-decoration: none;
	text-align: center;
}

.willkommen-l{
}

.willkommen-b{
	top:10%;
}

.ubermich-l{
	top: 20%;
}

.ubermich-b{
	top: 30%;
}

.vita-l{
	top: 40%;
}

.vita-b{
	top: 50%;
}

.angebote-l{
	top: 60%;
}

.angebote-b{
	top: 70%;
}

.info-l{
	bottom: 0%;
	height: 20%;
}

//LAYOUT -> END NAVBAR



//LAYOUT -> START SITES
.site {
	position: relative;
	display: inline-block;
	z-index: 1;
	width: 100%;
	height: 56.05vh;
	min-height: 20em;
	margin-top:  0em;
	margin-bottom: 0em;
}

.willkommen-s {
	background-color: #e8e8e8;
}

.ubermich-s {
	background-color: #e8e8e8;
}

.angebote-s {
	background-color: #e8e8e8;
}

.info-s {
	background-color: #e8e8e8;
}
//LAYOUT -> END SITES

// END -> LAYOUT



// START -> CONTENT

// CONTENT -> WILLKOMMEN
.willkommen-s{
	background-image: url(../img/water1.png);
  background-size: cover;
	// Desinged by Freepik http://www.freepik.com/
}

.willkommen-bei{
  font-family: 'Quattrocento Sans', sans-serif;
	color: #2b6d6d;
  display: none;
  font-size: 190%;
  text-align: center;
  margin-top: 20vh;
}

.willkommen-title{
  font-family: 'Quattrocento Sans', sans-serif;
	font-family: 'Crete Round', serif;
	font-weight: 200;
	color: #026798;
  display: none;
  font-size: 310%;
  text-align: center;
  margin-top: 18vh;
}

.willkommen-title p{
	margin-top: 0.7em;
	font-size: 45%;
	color: #609ebb;
}

.willkommen-text{
	text-align: center;
	color: #56627b;
	display: none;
	margin: auto;
	width: 45%;
}

.willkommen-text p{
	font-size: 70%;
	opacity: 0.8;
}

//CONTENT -> END WILLKOMMEN

// CONTENT -> START ÜBERMICH

.ubermich-logo{
	border-left: solid #076e7b;
	background-color: #078d9e;
	position: absolute;
	right: 0%;
	height: 102%;
	width: 14vw;
}

.ubermich-logo img{
	position: absolute;
	top: 17%;
	right: 5.3%;
	width: 90%;
}

.ubermich-text{
	position: absolute;
	margin-top: 1em;
	margin-left: 1.5em;
	height: 100%;
	width: 33vw;
}

.ubermich-text h1{
	font-family: 'Crete Round', serif;
	font-weight: lighter;
	color: #076e7b;
	margin-bottom: 1em;
}

.ubermich-text span{
	font-size: 1vw;
}
// CONTENT -> END ÜBERMICH

// CONTENT -> START VITA

.vita-s{
}

.vita-logo{
	border-left: solid #076e7b;
	background-color: #078d9e;
	position: absolute;
	right: 0%;
	height: 102%;
	width: 14vw;
}

.vita-text{
	position: absolute;
	margin-top: 1em;
	margin-left: 1.5em;
	height: 100%;
	width: 33vw;
}

.vita-text span{
	font-size: 0.85vw;
}

.vita-text h1{
	font-family: 'Crete Round', serif;
	font-weight: lighter;
	color: #076e7b;
	margin-bottom: 0.7em;
}

// CONTENT -> END VITA

// CONTENT -> START ANGEBOTE

.angebote-navbar{
	border-bottom: solid #026798;
	background-color: #0976aa;
	position: absolute;
	height: 10vh;
	width: 100%;
}

.angebote-navbar-content{
	position: absolute;
	left: 3%;
	height: 95%;
	width: 95%;
}

.angebote-navbar span{
	font-family: 'Crete Round', serif;
	display: inline-block;
	color: #e8e8e8;
	font-weight: lighter;
	font-size: 0.98vw;
	margin-right: 1.5em;
	margin-top: 0.8em;
}

@-moz-document url-prefix() {
	.angebote-navbar span{
			font-size: 0.85vw;
			margin-top: 1em;
	}
}

.angebote-navbar span:hover {
	background-color: white;
  color: #076e7b;
}

.angebote-logo{
	border-left: solid #076e7b;
	background-color: #078d9e;
	visibility: hidden;
	position: absolute;
	right: 0%;
	top: 0%;
	height: 100%;
	width: 14vw;
}

.angebote-logo img{
	position: absolute;
	top: 27%;
	right: 5.3%;
	width: 90%;
}

.angebote-text{
	visibility: hidden;
	position: absolute;
	margin-top: 11vh;
	margin-left: 2.5em;
	width: 33vw;
}


.angebote-visible{
	visibility: visible;
}

.angebote-text h1{
	font-family: 'Crete Round', serif;
	font-weight: lighter;
	color: #076e7b;
	margin-left: -0.5em;
	margin-bottom: 1em;
}

.angebote-text span{
	font-size: 1vw;
}

// CONTENT -> END ANGEBOTE


// CONTENT -> START KONTAKT

.info-text{
	position: absolute;
	margin-top: 7vh;
	text-align: center;
	width: 48vw;
}

.info-text h1{
	font-family: 'Crete Round', serif;
	font-weight: lighter;
	color: #076e7b;
	margin-left: -0.5em;
	margin-bottom: 1em;
}

.info-text h4{
	font-weight: bold;
}

.info-text span{
	font-size: 1vw;
}
.made-by{
	position: absolute;
	opacity: 0.5;
	left: 45%;
	bottom: -40%;
}

.made-by a{
	text-decoration: none;
}

.made-by p{
	font-size: 80%;
	color: grey;
}

.made-by-logo{
	top: 30%;
	right: -35%;
	position: absolute;
	height: 1em;
}
// CONTENT -> END KONTAKT
