---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
	background-image: url(../img/zebra.png);
}
// Background pattern from subtlepatterns.com



// START -> LAYOUT

.height-container {
	position: absolute;
	min-height: 35em;
	height: 100%;
	width: 100%;
}

.website-container {
  background-image: url(../img/45degreee.png);
  position: absolute;
  height: 70%; 
  min-width: 56em;
  width: 80%;
  top: 14%;
  left: 10%;
}

.width_limit-container {
  background-image: url(../img/45degreee.png);
  position: absolute;
  overflow: hidden;
  right: 0%;
  height: 100%; 
  width: 65%;
}

.content-container{
  background-image: url(../img/45degreee.png);
  position: relative;
	overflow: hidden;
	max-width: 60em;
	min-width: 20em;
	padding-left: 1em;
	right: 0%;
	top: 10%;
  height:80%;
}

.insidebar-vertical{
	background-image: url(../img/45degreeeDarkblue.png);
	background-color: pink;
	position: absolute;
	z-index: 1;
	height: 100%;
	left: 98.8%;
	width: 2em;
}

.insidebar-horizontal{
	background-image: url(../img/45degreeeDarkblue.png);
	position: absolute;
	background-color: pink;
	margin-left: 1em;
	width: 100%;
	height: 0.9em;
	top: 8%;
}



.content{
	padding-left: 0em;
	padding-right: 2em;
	width: 100.4%;
	min-height: 20em;
  height: 56vh;
  overflow: auto;
  background-color: #e8e8e8;
}

//LAYOUT -> START NAVBAR
.navbar{
	background-image: url(../img/45degreee.png);
	position: absolute;
	z-index: 1;
	width: 19.5em;
	height: 100%;
}

.nav-list-blank{
	background-image: url(../img/45degreeeDarkblue.png);
	background-color: #008080;
	position: absolute;
	height: 12.5%;
	width: 100%;
}

.nav-list{
	background-image: url(../img/45degreeeLightblue.png);
	background-color: white;
	position: absolute;
	color: #e8e8e8;
	width: 100%;
	height: 12.5%;
}

.nav-list-info{
	background-image: url(../img/45degreeeLightblue.png);
	background-color: #00c3c3;
	position: absolute;
	width: 100%;
	height: 12.5%;
}

.nav-list-info img{
	position: absolute;
	width: 3em; 
	top: 5vh;
	left: 42.5%;
}

// https://www.iconfinder.com/icons/115714/email_mail_send_icon#size=256

.nav-list p{
	font-size: 160%;
	position: static;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	text-align: center;
	margin: 2.4vh 0;
}

#info-s{
	font-size: 160%;
	position: static;
	color: #e8e8e8;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	text-align: center;
	margin: 9.7vh 0;
}

.willkommen-l{
}

.willkommen-b{
	top:12.5%;
}

.ubermich-l{
	top: 25%;
}

.ubermich-b{
	top: 37.5%;
}

.angebote-l{
	top: 50%;
}

.angebote-b{
	top: 62.5%;
}

.info-l{ 
	bottom: 0%;
	height: 25%;
}
//LAYOUT -> END NAVBAR



//LAYOUT -> START SITES
.site {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 56vh;
	min-height: 20em;
	margin-top:  0em;
	margin-bottom: 0em;
}

.willkommen-s {
	background-color: #e8e8e8;
}

.ubermich-s {
	background-color: #e8e8e8;
}

.angebote-s {
	background-color: #e8e8e8;
}

.info-s {
	background-color: #e8e8e8;
}
//LAYOUT -> END SITES

// END -> LAYOUT



// START -> CONTENT

// CONTENT -> WILLKOMMEN


.willkommen-s{
	background-image: url(../img/water1.png);
}